@model List<AllViewModel>

<style>
    .section-heder {
        text-align: center;
        border-bottom: 1px solid black;
        margin-top: 2em;
        margin-bottom: 5em;
        padding-bottom: 2em;
    }

    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        padding-left: 3em;
        /* Фон с градиент, наподобяващ стара фотография */
        background: linear-gradient(to bottom, #f8f8f8 0%, #e0e0e0 100%);
    }

    .card {
        border: 5px solid #d2b48c; /* Рамка, която наподобява стара фотография */
        border-radius: 1em;
        flex: 0 0 22%;
        box-shadow: 0 0 45px rgba(0, 0, 0, .2);
        margin-left: 2em;
        overflow: hidden;
        background-color: #fafafa; /* Фон на картичката */
    }

    .card img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        filter: sepia(0.8) contrast(0.9); /* Ефект на старина и контраст */
        transition: .5s;
    }

    .card:hover img {
        transform: scale(1.05);
    }

    .card-body h6, .card-body p {
        font-family: 'Permanent Marker', cursive; /* Шрифт, който наподобява ръчно писане с маркер */
        color: #333;
    }

    .btn {
        border-radius: 0.5em;
    }
</style>

<div class="section-heder">
    <h2>All Galleries</h2>
    <article class="some-h">
        <p>
            See our gallery or go and create gallery
        </p>
        <a asp-controller="Gallery" asp-action="Add" class="btn btn-primary">Create</a>
    </article>
</div>

<div class="cards-container">
    @foreach (var gallery in Model)
    {
        <div class="card mb-3">
            @if ((gallery.GalleryImage != null))
            {
                <img class="card-img-top" src="@Url.Action("GetImage", "Gallery", new { fileName = gallery.GalleryImage.FileName })" alt="Gallery Image not found">
            }
            <div class="card-body text-center">
                <h6>@gallery.Title</h6>

                @if (gallery.Category == null)
                {
                    <p>Category: No category selected</p>
                }
                else {
                    <p>Category: @gallery.Category</p>
                }

                <a asp-controller="Gallery" asp-action="Details" asp-route-id="@gallery.Id" class="btn btn-success">Details</a>
                <a asp-controller="Gallery" asp-action="Edit" asp-route-id="@gallery.Id" class="btn btn-success">Edit</a>
            </div>
        </div>
    }
</div>
